# endlessh.service
#
# description: endlessh is a SSH tarpit designed to slow down and frustrate
#              attackers by keeping their connections open indefinitely.
# source:
#   modified from https://www.digitalocean.com/community/tutorials/how-to-set-up-an-endlessh-tarpit-on-ubuntu-22-04
#   this version from https://github.com/jtmoon79/dotfiles/blob/master/services/endlessh/endlessh.service
#
# instructions:
#   You may want to modify the port used in ExecStart (default is 22).
#
# to build:
#     git clone https://github.com/skeeto/endlessh.git
#     cd endlessh
#     make
#     sudo cp endlessh /usr/local/bin/
#     sudo chmod -w /usr/local/bin/endlessh
#     sudo mkdir /etc/endlessh
# to install the service (this file):
#     sudo cp endlessh.service /etc/systemd/system/
#     sudo systemctl --now enable endlessh
# to check service status:
#     sudo systemctl status endlessh
# to view service logs:
#     sudo journalctl --no-pager -u endlessh -f
#
# systemd service docs: https://www.freedesktop.org/software/systemd/man/latest/systemd.exec.html
#


[Unit]
Description=Endlessh SSH Tarpit
Documentation=man:endlessh(1)
Requires=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=30sec
ExecStart=/usr/local/bin/endlessh -v -p 22
KillSignal=SIGTERM
User=nobody
Group=nogroup

# Stop trying to restart the service if it restarts too many times in a row
StartLimitInterval=5min
StartLimitBurst=4

StandardOutput=journal
StandardError=journal
StandardInput=null

#
# add a lot of security hardening options
#
PrivateIPC=true
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
ProtectHostname=true:goaway.com
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
# XXX: InaccessiblePaths caused failures for me, MMV
#InaccessiblePaths=/run
NoNewPrivileges=true
ConfigurationDirectory=endlessh
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true
## If you want Endlessh to bind on ports < 1024
## 1) run:
##     setcap 'cap_net_bind_service=+ep' /usr/local/bin/endlessh
## 2) uncomment following line
#AmbientCapabilities=CAP_NET_BIND_SERVICE
## 3) comment following line
PrivateUsers=true

[Install]
WantedBy=multi-user.target
